<nav class="sticky-menu">
  <ul class="sticky-menu__list">
    <li class="sticky-menu__item">
      <a class="sticky-menu__link active" href="#">
        <svg
          class="sticky-menu__icon sticky-menu__icon--home"
          width="20"
          height="24"
          aria-hidden="true"
        >
          <use
            href="./images/sprite/stack.svg#icon-home"
            xlink:href="./images/sprite/stack.svg#icon-home"
          ></use>
        </svg>
        <span class="sticky-menu__label">Главная</span>
      </a>
    </li>
    <li class="sticky-menu__item">
      <a class="sticky-menu__link" href="#">
        <svg class="sticky-menu__icon" width="24" height="24" aria-hidden="true">
          <use
            href="./images/sprite/stack.svg#icon-search"
            xlink:href="./images/sprite/stack.svg#icon-search"
          ></use>
        </svg>
        <span class="sticky-menu__label">Поиск</span>
      </a>
    </li>
    <li class="sticky-menu__item">
      <a class="sticky-menu__link" href="#">
        <svg class="sticky-menu__icon" width="24" height="24" aria-hidden="true">
          <use
            href="./images/sprite/stack.svg#icon-favourites"
            xlink:href="./images/sprite/stack.svg#icon-favourites"
          ></use>
        </svg>
        <span class="sticky-menu__label">Избранное</span>
      </a>
    </li>
    <li class="sticky-menu__item">
      <a class="sticky-menu__link" href="#">
        <svg class="sticky-menu__icon" width="24" height="24" aria-hidden="true">
          <use
            href="./images/sprite/stack.svg#icon-shopping-cart"
            xlink:href="./images/sprite/stack.svg#icon-shopping-cart"
          ></use>
        </svg>
        <span class="sticky-menu__label">Корзина</span>
      </a>
    </li>
    <li class="sticky-menu__item">
      <a class="sticky-menu__link" href="#">
        <svg class="sticky-menu__icon" width="24" height="24" aria-hidden="true">
          <use
            href="./images/sprite/stack.svg#icon-user"
            xlink:href="./images/sprite/stack.svg#icon-user"
          ></use>
        </svg>
        <span class="sticky-menu__label">Профиль</span>
      </a>
    </li>
  </ul>
</nav>
