<section class="all-promo container">
  <h1 class="all-promo__title">Акции</h1>
  <ul class="all-promo__list">
    <li class="all-promo__item">
      <a class="all-promo__link" href="#">
        <picture>
          <source
            type="image/webp"
            media="(min-width:1920px)"
            srcset="./images/promo-img-gaming.webp 1x, ./images/promo-img-gaming@2x.webp 2x"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="./images/promo-img-gaming-t.webp 1x, ./images/promo-img-gaming-t@2x.webp 2x"
          />
          <source
            type="image/webp"
            srcset="./images/promo-img-gaming-m.webp 1x, ./images/promo-img-gaming-m@2x.webp 2x"
          />

          <source
            type="image/jpeg"
            media="(min-width:1920px)"
            srcset="./images/promo-img-gaming.jpg 1x, ./images/promo-img-gaming@2x.jpg 2x"
          />
          <source
            type="image/jpeg"
            media="(min-width:768px)"
            srcset="./images/promo-img-gaming-t.jpg 1x, ./images/promo-img-gaming-t@2x.jpg 2x"
          />
          <img
            class="all-promo__img"
            src="./images/promo-img-gaming-m.jpg"
            srcset="./images/promo-img-gaming-m@2x.jpg 2x"
            width="300"
            height="169"
            loading="lazy"
            alt=""
          />
        </picture>
        <h2 class="visually-hidden">Суперскидки на товары для гейминга</h2>
      </a>
    </li>

    <li class="all-promo__item">
      <a class="all-promo__link" href="#">
        <picture>
          <source
            type="image/webp"
            media="(min-width:1920px)"
            srcset="./images/promo-img-samsung.webp 1x, ./images/promo-img-samsung@2x.webp 2x"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="./images/promo-img-samsung-t.webp 1x, ./images/promo-img-samsung-t@2x.webp 2x"
          />
          <source
            type="image/webp"
            srcset="./images/promo-img-samsung-m.webp 1x, ./images/promo-img-samsung-m@2x.webp 2x"
          />

          <source
            type="image/jpeg"
            media="(min-width:1920px)"
            srcset="./images/promo-img-samsung.jpg 1x, ./images/promo-img-samsung@2x.jpg 2x"
          />
          <source
            type="image/jpeg"
            media="(min-width:768px)"
            srcset="./images/promo-img-samsung-t.jpg 1x, ./images/promo-img-samsung-t@2x.jpg 2x"
          />
          <img
            class="all-promo__img"
            src="./images/promo-img-samsung-m.jpg"
            srcset="./images/promo-img-samsung-m@2x.jpg 2x"
            width="300"
            height="169"
            loading="lazy"
            alt=""
          />
        </picture>
        <h2 class="visually-hidden">Кэшбэк 20% на мониторы Samsung</h2>
      </a>
    </li>

    <li class="all-promo__item">
      <a class="all-promo__link" href="#">
        <picture>
          <source
            type="image/webp"
            media="(min-width:1920px)"
            srcset="./images/promo-img-hp.webp 1x, ./images/promo-img-hp@2x.webp 2x"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="./images/promo-img-hp-t.webp 1x, ./images/promo-img-hp-t@2x.webp 2x"
          />
          <source
            type="image/webp"
            srcset="./images/promo-img-hp-m.webp 1x, ./images/promo-img-hp-m@2x.webp 2x"
          />

          <source
            type="image/jpeg"
            media="(min-width:1920px)"
            srcset="./images/promo-img-hp.jpg 1x, ./images/promo-img-hp@2x.jpg 2x"
          />
          <source
            type="image/jpeg"
            media="(min-width:768px)"
            srcset="./images/promo-img-hp-t.jpg 1x, ./images/promo-img-hp-t@2x.jpg 2x"
          />
          <img
            class="all-promo__img"
            src="./images/promo-img-hp-m.jpg"
            srcset="./images/promo-img-hp-m@2x.jpg 2x"
            width="300"
            height="169"
            loading="lazy"
            alt=""
          />
        </picture>
        <h2 class="visually-hidden">Скидки до 30% на технику HP</h2>
      </a>
    </li>

    <li class="all-promo__item">
      <a class="all-promo__link" href="#">
        <picture>
          <source
            type="image/webp"
            media="(min-width:1920px)"
            srcset="./images/promo-img-philips.webp 1x, ./images/promo-img-philips@2x.webp 2x"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="./images/promo-img-philips-t.webp 1x, ./images/promo-img-philips-t@2x.webp 2x"
          />
          <source
            type="image/webp"
            srcset="./images/promo-img-philips-m.webp 1x, ./images/promo-img-philips-m@2x.webp 2x"
          />

          <source
            type="image/jpeg"
            media="(min-width:1920px)"
            srcset="./images/promo-img-philips.jpg 1x, ./images/promo-img-philips@2x.jpg 2x"
          />
          <source
            type="image/jpeg"
            media="(min-width:768px)"
            srcset="./images/promo-img-philips-t.jpg 1x, ./images/promo-img-philips-t@2x.jpg 2x"
          />
          <img
            class="all-promo__img"
            src="./images/promo-img-philips-m.jpg"
            srcset="./images/promo-img-philips-m@2x.jpg 2x"
            width="300"
            height="169"
            loading="lazy"
            alt=""
          />
        </picture>
        <h2 class="visually-hidden">Скидка 80% на саундбар Philips</h2>
      </a>
    </li>

    <li class="all-promo__item">
      <a class="all-promo__link" href="#">
        <picture>
          <source
            type="image/webp"
            media="(min-width:1920px)"
            srcset="./images/promo-img-bosch.webp 1x, ./images/promo-img-bosch@2x.webp 2x"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="./images/promo-img-bosch-t.webp 1x, ./images/promo-img-bosch-t@2x.webp 2x"
          />
          <source
            type="image/webp"
            srcset="./images/promo-img-bosch-m.webp 1x, ./images/promo-img-bosch-m@2x.webp 2x"
          />

          <source
            type="image/jpeg"
            media="(min-width:1920px)"
            srcset="./images/promo-img-bosch.jpg 1x, ./images/promo-img-bosch@2x.jpg 2x"
          />
          <source
            type="image/jpeg"
            media="(min-width:768px)"
            srcset="./images/promo-img-bosch-t.jpg 1x, ./images/promo-img-bosch-t@2x.jpg 2x"
          />
          <img
            class="all-promo__img"
            src="./images/promo-img-bosch-m.jpg"
            srcset="./images/promo-img-bosch-m@2x.jpg 2x"
            width="300"
            height="169"
            loading="lazy"
            alt=""
          />
        </picture>
        <h2 class="visually-hidden">Скидка 50% на второй товар Bosch</h2>
      </a>
    </li>

    <li class="all-promo__item">
      <a class="all-promo__link" href="#">
        <picture>
          <source
            type="image/webp"
            media="(min-width:1920px)"
            srcset="./images/promo-img-iphone.webp 1x, ./images/promo-img-iphone@2x.webp 2x"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="./images/promo-img-iphone-t.webp 1x, ./images/promo-img-iphone-t@2x.webp 2x"
          />
          <source
            type="image/webp"
            srcset="./images/promo-img-iphone-m.webp 1x, ./images/promo-img-iphone-m@2x.webp 2x"
          />

          <source
            type="image/jpeg"
            media="(min-width:1920px)"
            srcset="./images/promo-img-iphone.jpg 1x, ./images/promo-img-iphone@2x.jpg 2x"
          />
          <source
            type="image/jpeg"
            media="(min-width:768px)"
            srcset="./images/promo-img-iphone-t.jpg 1x, ./images/promo-img-iphone-t@2x.jpg 2x"
          />
          <img
            class="all-promo__img"
            src="./images/promo-img-iphone-m.jpg"
            srcset="./images/promo-img-iphone-m@2x.jpg 2x"
            width="300"
            height="169"
            loading="lazy"
            alt=""
          />
        </picture>
        <h2 class="visually-hidden">iPhone 13 Pro в рассрочку от 5900&#8381;.мес.</h2>
      </a>
    </li>

    <li class="all-promo__item">
      <a class="all-promo__link" href="#">
        <picture>
          <source
            type="image/webp"
            media="(min-width:1920px)"
            srcset="./images/promo-img-review.webp 1x, ./images/promo-img-review@2x.webp 2x"
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="./images/promo-img-review-t.webp 1x, ./images/promo-img-review-t@2x.webp 2x"
          />
          <source
            type="image/webp"
            srcset="./images/promo-img-review-m.webp 1x, ./images/promo-img-review-m@2x.webp 2x"
          />

          <source
            type="image/jpeg"
            media="(min-width:1920px)"
            srcset="./images/promo-img-review.jpg 1x, ./images/promo-img-review@2x.jpg 2x"
          />
          <source
            type="image/jpeg"
            media="(min-width:768px)"
            srcset="./images/promo-img-review-t.jpg 1x, ./images/promo-img-review-t@2x.jpg 2x"
          />
          <img
            class="all-promo__img"
            src="./images/promo-img-review-m.jpg"
            srcset="./images/promo-img-review-m@2x.jpg 2x"
            width="300"
            height="169"
            loading="lazy"
            alt=""
          />
        </picture>
        <h2 class="visually-hidden">Поделись мнением. Оставь отзыв и получи 50 бонусных баллов.</h2>
      </a>
    </li>

    <li class="all-promo__item">
      <a class="all-promo__link" href="#">
        <picture>
          <source
            type="image/webp"
            media="(min-width:1920px)"
            srcset="
              ./images/promo-img-electrocity.webp    1x,
              ./images/promo-img-electrocity@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="
              ./images/promo-img-electrocity-t.webp    1x,
              ./images/promo-img-electrocity-t@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./images/promo-img-electrocity-m.webp    1x,
              ./images/promo-img-electrocity-m@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width:1920px)"
            srcset="./images/promo-img-electrocity.jpg 1x, ./images/promo-img-electrocity@2x.jpg 2x"
          />
          <source
            type="image/jpeg"
            media="(min-width:768px)"
            srcset="
              ./images/promo-img-electrocity-t.jpg    1x,
              ./images/promo-img-electrocity-t@2x.jpg 2x
            "
          />
          <img
            class="all-promo__img"
            src="./images/promo-img-electrocity-m.jpg"
            srcset="./images/promo-img-electrocity-m@2x.jpg 2x"
            width="300"
            height="169"
            loading="lazy"
            alt=""
          />
        </picture>
        <h2 class="visually-hidden">Суперскидки по бонусной карте</h2>
      </a>
    </li>

    <li class="all-promo__item">
      <a class="all-promo__link" href="#">
        <picture>
          <source
            type="image/webp"
            media="(min-width:1920px)"
            srcset="
              ./images/promo-img-liquidation.webp    1x,
              ./images/promo-img-liquidation@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width:768px)"
            srcset="
              ./images/promo-img-liquidation-t.webp    1x,
              ./images/promo-img-liquidation-t@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./images/promo-img-liquidation-m.webp    1x,
              ./images/promo-img-liquidation-m@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width:1920px)"
            srcset="./images/promo-img-liquidation.jpg 1x, ./images/promo-img-liquidation@2x.jpg 2x"
          />
          <source
            type="image/jpeg"
            media="(min-width:768px)"
            srcset="
              ./images/promo-img-liquidation-t.jpg    1x,
              ./images/promo-img-liquidation-t@2x.jpg 2x
            "
          />
          <img
            class="all-promo__img"
            src="./images/promo-img-liquidation-m.jpg"
            srcset="./images/promo-img-liquidation-m@2x.jpg 2x"
            width="300"
            height="169"
            loading="lazy"
            alt=""
          />
        </picture>
        <h2 class="visually-hidden">Ликвидация! Скидки до 70%</h2>
      </a>
    </li>
  </ul>
</section>
